# IDE / OS
.idea/
.ipynb_checkpoints/
.DS_Store

# Jekyll build + caches
/_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby
/.bundle/
**/.bundle/

vendor/
# (the line above already covers /vendor/bundle/)
# keep Gemfile + Gemfile.lock tracked!

# Node
/node_modules/
/.bundle/
