<section id="banner">
  <div class="inner">
    <header>
      <h2>{{ include.title | default: "echoIA Hub" }}</h2>
      <p class="byline">{{ include.byline | default: "Intrinsic Alignments, end-to-end." }}</p>
    </header>

    <p>A hub for Intrinsic Alignment research</p>
    <p>Catalogs, datasets, code, and meetings</p>
    <p>Discover, collaborate, and contribute</p>

    <footer>
      <ul class="buttons">
        <li><a href="#about" class="button scrolly">{{ include.cta | default: "Tell me more" }}</a></li>
      </ul>
    </footer>

  </div>
</section>
