---
layout: base
---
<article
  id="{{ page.article_id | default: 'main' }}"
  class="{{ page.article_class | default: '' }}"
  role="main"
>
  {% if page.hero %}
    {% include hero.html
       icon=page.hero.icon
       title=page.hero.title
       tagline=page.hero.byline
       blurb=page.hero.blurb
       align=page.hero.align %}
{% endif %}


  {% if page.blocks %}
    <section class="page">
      {% for b in page.blocks %}
        {% include blocks/switch.html block=b %}
      {% endfor %}
    </section>
  {% else %}
    {{ content }}
  {% endif %}
</article>
